.notesContainer {
    margin-top: 11vh;
}

.notesChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 45px;

    input {
        width: 350px;
        padding: 10px;

        &:focus {
            outline: none;
        }
    }

    textarea {
        width: 350px;
        padding: 10px;
        height: 80px;

        &:focus {
            outline: none;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 370px;

    button {
        padding: 4px;
        cursor: pointer;
    }
}