.notesContainer {
    margin-top: 11vh;
}

.notesChild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    input {
        width: 500px;
        padding: 10px;
        border: 1px solid #26262685;
        border-radius: 5px 5px 0px 0px;
        &:focus {
            outline: none;
        }
    }
    textarea {
        width: 500px;
        padding: 10px;
        height: 80px;
        border: 1px solid #26262685;
        border-top: 0;
        &:focus {
            outline: none;
        }
    }
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-top: 4px;
    button {
        padding: 4px;
        cursor: pointer;
        border: none;
        background-color: #262626;
        color: white;
        border-radius: 5px;
        width: 155px;
        height: 41px;
        font-size: 16px;
        letter-spacing: 2px;
        transition: all 100ms ease-in-out;
        &:hover {
            transform: scale(1.02);
        }
    }
}

// .mainNoteContainer {}
.childNoteContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    max-height: 60vh;
    overflow: auto;
    h2 {
        padding-top: 10px;
    }
}

.selectUrgency {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid #00000057;
    margin: 0 16px;
}

.alertOverlay {
    opacity: 1;
    z-index: 12;
    width: 600px;
    height: 350px;
    position: absolute;
    background-color: #000000cc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showOverlay 1.5s ease-in-out;
    top: 50vh;
    margin-top: -300px;
    animation: showOverlay 225ms ease-in-out;
    h2 {
        background-color: #ffffffcc;
        padding: 26px;
        color: black;
        border-radius: 5px;
    }
}

@keyframes showOverlay {
    from {
        transform: scale(0);
    }
    to {
        transform: scale (1);
    }
}

.overlay {
    opacity: 1 !important;
    z-index: 12 !important;
}

.formField {
    height: 0px;
}
