<div class="notesContainer">

    <div class="notesChild">
        <input required type="text" name="title" placeholder="Title" #title>
        <textarea required name="textarea" placeholder="Write your notice" cols=" 30 " rows="10" #textarea></textarea>

        <div class="btnContainer ">
            <button (click)="addNotes(title.value, textarea.value, selected)"
                (click)="[title.value='', textarea.value='', selects.value='']">Add
                notice</button>
            <div class="formField">
                <!-- <mat-form-field appearance="fill"> -->
                <!-- <mat-label>Select urgency</mat-label> -->
                <mat-select placeholder="Select urgency" class="selectUrgency" #selects [(value)]="selected">
                    <!-- <mat-option>add</mat-option> -->
                    <mat-option value="option1">Low</mat-option>
                    <mat-option value="option2">Medium</mat-option>
                    <mat-option value="option3">High</mat-option>
                </mat-select>
                <!-- </mat-form-field> -->
            </div>
            <button (click)="clearAllNotes()">Delete all notes</button>
        </div>


        <div *ngIf="overlay" class="alertOverlay">
            <h2>Bitte füllen sie alle Felder aus</h2>
        </div>

        <div class="childNoteContainer">
            <div class="note_container" *ngFor="let note of crud.notes let i='index'">
                <h2>{{ note.title }}</h2>
                <span>{{ note.text }}</span>

                <div [style.background-color]="crud.getColor(note.color)" class="urgencyColor">
                </div>

                <div class="icon_container">
                    <img (click)="addToArchiv(note)" src="assets/img/archive_white_24dp.svg">
                    <img (click)="deletNote(note)" src="assets/img/delete_outline_white_24dp.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>